<!--about us-->
<div class="summary bg-cover">
  <div class="overlay"></div>
  <h1 class="display-4">About Us</h1>
  <br/>
  <p class="lead">
    PINUS is a group of Indonesian Students in National University of Singapore (NUS) established in 1998. Starting as a humble group of Indonesians created to facilitate simple gatherings, PINUS has now grown into one of the most established Indonesian student groups in Singapore. Currently, we have more than five hundred members, and the number is still growing steadily every year.
  </p>
  <p class="lead">
    As a group that facilitates Indonesians in NUS, we aspire to provide avenues for our members to express their unique opinion, talent and creativity. In PINUS, we believe in a learning and nurturing culture, and hence we also strive to serve as a place for our members to grow and gain various experience as an individual.
  </p>
</div>

<!--vision mission-->
<div class="row">
  <div class="col-sm-6">
    <h1 class="display-5">Visions</h1>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">To be an organisation from, by, and for Indonesian students in NUS as well as to our nation.</li>
        <li class="list-group-item">To create a kinship and mutual cooperation within the Indonesian students in NUS.</li>
        <li class="list-group-item">To grow a leadership, proactive and responsible spirit within our members, and to maximize their potential in all field, so as to be able to give back to our nation in the future.</li>
      </ul>
  </div>
  <div class="col-sm-6">
    <h1 class="display-5">Missions</h1>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">To be a channel through which Indonesian students in NUS can create everlasting friendship and strengthen ties with each other.</li>
        <li class="list-group-item">To be a student network center to assist our members in adapting to the NUS and Singapore environments.</li>
        <li class="list-group-item">To be a channel through which Indonesian students in NUS develop their talents and cultivate leadership spirit.</li>
        <li class="list-group-item">To carry out social, cultural and educational activities tailored for Indonesian students and/or non-Indonesians without political, racial, ethnic and religious associations.</li>
        <li class="list-group-item">To be an ambassador and representation of Indonesian students in NUS.</li>
      </ul>
  </div>
</div>

<!--history-->
<div class="history bg-cover">
  <div class="overlay"></div>
  <h1 class="display-4">History</h1>
  <br/>
  <p class="lead">
    PINUS started as a non-formal group for Indonesian students in NUS under a Yahoo! mailing list which was founded on August 12, 1998. It was first utilised for the members to promote casual gatherings ("Together Day") over lunch, movies, friendly basketball matches - or even just to broadcast member achievements and the subsequent 'thanks' that follow: a channel of mass communication in those pre-Facebook days.
  </p>
  <p class="lead">
    It was formalised as an organisation and constitutionalized with vision and mission in 2006, with the pioneer executive committee formed for office term 2006/2007. Nevertheless, even before then, PINUS has already had some form of organisation within the group, with the existing position of a Head as well as committee members.
  </p>
</div>
