<!--about us-->
<div class="summary bg-cover">
  <div class="overlay"></div>
  <h1 class="display-4">About Us</h1>
  <br/>
  <p class="lead">
    PINUS is a group of Indonesian Students in National University of Singapore (NUS) established in 1998. Starting as a humble group of Indonesians created to facilitate simple gatherings, PINUS has now grown into one of the most established Indonesian student groups in Singapore. Currently, we have more than five hundred members, and the number is still growing steadily every year.
  </p>
  <p class="lead">
    As a group that facilitates Indonesians in NUS, we aspire to provide avenues for our members to express their unique opinion, talent and creativity. In PINUS, we believe in a learning and nurturing culture, and hence we also strive to serve as a place for our members to grow and gain various experience as an individual.
  </p>
</div>

<!--vision mission-->
<div class="row">
  <div class="col-sm-6">
    <h1 class="display-5">Visions</h1>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li class="list-group-item">Duis ultricies, tellus et porta suscipit, mi orci fermentum est, et ultrices diam ex et risus.</li>
        <li class="list-group-item">Donec commodo eget nulla ut vulputate. Duis ultricies, tellus et porta suscipit, mi orci fermentum est, et ultrices diam ex et risus.</li>
      </ul>
  </div>
  <div class="col-sm-6">
    <h1 class="display-5">Missions</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Ut rhoncus, lectus at consectetur tincidunt, libero ipsum tempor ligula, ut efficitur felis lectus in justo. </li>
        <li class="list-group-item">Fusce luctus elementum diam quis accumsan.</li>
        <li class="list-group-item">Ut rhoncus, lectus at consectetur tincidunt, libero ipsum tempor ligula, ut efficitur felis lectus in justo. </li>
      </ul>
  </div>
</div>

<!--history-->
<div class="history bg-cover">
  <div class="overlay"></div>
  <h1 class="display-4">History</h1>
  <br/>
  <p class="lead">
    PINUS started as a non-formal group for Indonesian students in NUS under a Yahoo! mailing list which was founded on August 12, 1998. It was first utilised for the members to promote casual gatherings ("Together Day") over lunch, movies, friendly basketball matches - or even just to broadcast member achievements and the subsequent 'thanks' that follow: a channel of mass communication in those pre-Facebook days.
  </p>
  <p class="lead">
    It was formalised as an organisation and constitutionalized with vision and mission in 2006, with the pioneer executive committee formed for office term 2006/2007. Nevertheless, even before then, PINUS has already had some form of organisation within the group, with the existing position of a Head as well as committee members.
  </p>
</div>

<!--footer-->
<footer>
  Bye bye this has been hella hard
</footer>