<!-- jumbotron top -->
<div class="jumbotron jumbotron-fluid bg-cover intro">
  <div class="overlay"></div>
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna mi, viverra quis turpis in.</p>
</div>

<!-- jumbotron who we are -->
<div class="jumbotron bg-cover about-us">
  <div class="overlay"></div>
  <h1 class="display-4">Who we are</h1>
  <p class="lead">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<!--jumbotron what we do-->
<div class="jumbotron bg-cover activities">
  <div class="overlay"></div>
  <h1 class="display-4">What we do</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in metus tellus.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<!--latest-->
<div class="latest">
  <h1 class="display-4 news-title">Latest News and Stories</h1>
  <div class="col">
    <strong>Lorem Ipsum</strong>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada libero et lectus congue, nec semper dui fermentum. In hac habitasse platea dictumst. Suspendisse sit amet ex vitae mi porta laoreet id sed nisi. Duis ut eros et erat faucibus finibus sed volutpat elit. Maecenas interdum commodo sodales. Donec commodo eget nulla ut vulputate. Duis ultricies, tellus et porta suscipit, mi orci fermentum est, et ultrices diam ex et risus. Vivamus metus neque, interdum nec enim vitae, faucibus faucibus nibh. Curabitur in nisi a metus feugiat volutpat.
    </p>
    <p>
      Proin ut mauris nisl. Nam efficitur vel nisi eu dapibus. Nullam nibh ligula, vestibulum id commodo a, sollicitudin ac risus. Phasellus non ullamcorper arcu, ac cursus justo. Vivamus non tempor enim, condimentum porttitor nisl. Pellentesque et diam elementum, iaculis nibh et, lobortis est. Mauris eget congue odio.
    </p>
    <p>
      Praesent aliquam dapibus tristique. Ut rhoncus, lectus at consectetur tincidunt, libero ipsum tempor ligula, ut efficitur felis lectus in justo. Vivamus et posuere massa, eu venenatis justo. Nulla mattis, dolor ut aliquet auctor, neque neque ultricies lacus, et venenatis tellus nulla eget dui. In sagittis metus eget ligula dignissim tristique. Donec dignissim nisi non aliquet consequat. Sed eget egestas purus. Vivamus finibus molestie odio vitae iaculis.
    </p>
    <strong>Dolor sit amet</strong>
    <p>
      Duis auctor, mauris et tincidunt sodales, tortor eros malesuada augue, sit amet ultricies quam eros at lectus. In nibh ex, accumsan ut tristique in, lacinia eu tortor. Aenean sollicitudin nunc magna. Mauris cursus id odio eu semper.
    </p>
  </div>
</div>
<div class="fb">
  <div class="fb-page" data-href="https://www.facebook.com/PerhimpunanIndonesiaNUS/" data-tabs="timeline, messages" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/PerhimpunanIndonesiaNUS/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/PerhimpunanIndonesiaNUS/">PINUS - Perhimpunan Indonesia NUS</a></blockquote></div>
</div>

<!--footer-->
<footer>
  Bye bye this has been hella hard
</footer>