<div class="container">

  <div class="row">
    <div class="col-3">
      <h3>Freshmen Guide</h3>
      <ul class="list-unstyled">
        <% @freshmen.each do |freshman| %>
          <li><%= link_to freshman.name, freshman_path(freshman) %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-9">
      <h1><%= @freshman.name %></h1>
      <br/><br/>
      <div class="event-description">
        <%= @freshman.description %>
      </div>
      <% if can? :edit, @freshman %>
        <%= button_to "Edit", edit_freshman_path, :method => :get %>
      <% end %>

    </div>
  </div>

</div>
