<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <h1 class="text-center display-1">Welcome, <%= current_user.fullname %></h1>
      <div class="row">
      <div class="col-6">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-block" %>
      </div>
      <div class="col-6">
        <%= link_to "Edit your account", edit_user_registration_path, class: "btn btn-primary btn-block" %>
      </div>
      <% if current_user.has_role? :admin %>
      <div class="col-12">
        <br />
        <%=  link_to "Manage accounts", users_path, class: "btn btn-warning btn-block" %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
