<div class="row">
  <div class="col-xs-12">
<h1>Welcome</h1>
  </div>
  <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
  <%= link_to "Create New Admin", new_admin_registration_path %>
</div>
