<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h1>Welcome</h1>
    </div>
  </div>
  <%= link_to "Create New User", new_user_path, class: "btn btn-primary" %><br>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn-secondary" %>
</div>
