<div class="jumbotron jumbotron-fluid">
  <h1>Event Details</h1>

  <ul>
    <li>Name: <%= @event.name %></li>
    <li>Description: <%= @event.description %></li>
    <li>Start: <%= @event.start_time %></li>
    <li>End: <%= @event.end_time %></li>
  </ul>
</div>
