<div class="container">

  <div class="row">
    <div class="col-3">
      <ul class="list-unstyled">
        <li><a href="">Lorem</a></li>
        <li><a href="">Lorem</a></li>
        <li><a href="">Lorem</a></li>
      </ul>
    </div>

    <div class="col-9">
      <h1><%= @event.name %></h1>
      
      <div class="event-time text-muted">
        <%= @event.start_time %>
        to
        <%= @event.end_time %>
      </div>
      <div class="event-description">
        <%= @event.description %>
      </div>
    </div>
  </div>

</div>