// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.sideMenu {
  background: $darkgrey;
  max-width: 280px;

  div {
    padding-top: 100px;

    a{
      display: block;
      color: $white;
      text-decoration: none;
      padding: 15px 30px;

      &.activate  {
        background: $darkgrey;
      }
    }
  }
}
